<div class="container">
  <h1>Enter Your URL below</h1>
  
  <form name="url_submit" action= "/url" method="POST">
    <div class='text_enter' align='center'>
    <input type='type' name='long_url'>
    <input type="submit" value="Submit URL">

</div>
</form>